.zig-cache/
zig-out/

# Text file Created from view-within-a-file.zig
fmtest.txt
nonexistent_file.txt
test_full_map.txt
test_init.txt
test_write_read.txt
test_size.txt
test_errors.txt
test_full_map.txt